<h2>Shops</h2>
<% @shops.each do |shop| %>
    <% if shop != current_user.shop %>
        <div class="card bg-light m-4">
            <div class="card-body">
                <h4><%= shop.name %></h4>
                <p><strong>Address : </strong><%= shop.address %></p>
                <%= link_to "Visit", shop_path(shop), class:'btn btn-secondary btn-sm' %>
            </div>
        </div>
    <% end %>
<% end %>